<form>
<h2>Add comment to "{{this.title}}"</h2>
<p>
<label for="email">Email:</label><br>
<input id="email" type="text" size="20">
</p>
<p>
<label for="comment">Comment:</label><br>
<textarea id="comment" rows="10" cols="20"></textarea>
 </p>
 <p>
 <button>Comment</button>
 <button onclick="Controller.controllers.addCommentForm.cancel_clicked(event);">Cancel</button>
 </p>
 </form>